@tailwind base;

html {
    @apply .bg-gray-100;
}
a {
    /* color: rgb(251, 255, 254); */
    @apply text-gray-900 underline cursor-pointer
}
a:hover {

}

nav {
    @apply flex items-center justify-between flex-wrap bg-teal-500 p-3
}

h1 {
    @apply text-4xl text-gray-900 text-center .font-medium
}
h2 {
    @apply text-xl;
}
h4 {
    @apply text-lg;
}
table {
    @apply bg-gray-300 text-gray-900 m-8 mx-auto rounded;
}
thead {
    @apply bg-teal-500 text-gray-900
}

tr {

}
tr:hover {
    @apply shadow-xl bg-gray-500
}

body {
    @apply text-gray-900
}

div {
}

.timerArea {
    /* grid-area: "timer"; */
    /* background: fuchsia; */
}
#timer {
    /* font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 100;
    font-size: 100px;
    color: rgb(251, 255, 254);
    align-content: center; */
}
button {
    @apply font-bold py-2 px-4 rounded bg-teal-500 .text-gray-900 shadow;
}

button:disabled {
    /* background: rgb(164, 186, 183, .4); */
}
button:hover {
    /* background: rgb(164, 186, 183, .8); */
    @apply font-black;
    cursor: pointer;
}
input {
    /* border-style: none; */
    @apply border rounded p-2 m-1
}

.svg {
    max-width: 1rem;
}

#events {
    /* display: none;
    margin: 10px;
    padding: 10px; */
    /* padding: 5px; */
    /* background: rgb(164, 186, 183);
    justify-self: center;
    grid-area: "events";
    text-align: center; */
}
#events input {
    /* width: 33%;
    margin-left: 10px; */
}

#recipeCard {
    /* justify-self: center;
    align-content: center;
    margin: 10px; */
}

#chart-container {
    /* display: grid;
    min-width: 100%;
    position: relative;
    grid-area: "chart"; */
}

.container {
    @apply text-center
}

.beanDataContainer {
    display: none;
}

#getCoffeeDataCard {
    display: none;
}

#recipeCard {
    display: none;
}

#seeAllCoffeesCard {
    display: none;
}

#coffeeInfoCard {
    display: none;
}

@tailwind components;

@tailwind utilities;