/* Need to implement Styling at some point */
/* Fonts */
/* 
Serif
font-family: 'Open Sans', Georgia;
Sans-Serif
font-family: 'Roboto', Arial, sans-serif; 
*/
/* Colors */
/* 
Black: rgb(11,17,29);
Red: rgb(214, 40, 40);
Blue: rgb(34, 85, 96);
Light Blue/Green rgb(164, 186, 183);
Yellow: rgb(240, 196, 44);
White: rgb(251, 255, 254); 
*/



header {
    color: rgb(240, 196, 44);
    font-family: 'Open Sans', Georgia;
    grid-area: header;
    justify-self: start;
    align-self: flex-start;
}

a {
    color: rgb(164, 186, 183);
}
a:hover {
    color: rgb(251, 255, 254);
}
body {
    display: grid;
    background: rgb(251, 255, 254);
    font-family: 'Roboto', Arial, sans-serif;    
}

div {
    color:rgb(251, 255, 254);
    font-family: 'Roboto', Arial, sans-serif;    

}

.timerArea {
    /* grid-area: timer; */
    /* background: fuchsia; */
}
#timer {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 100px;
    color: rgb(11, 17, 29);
    /* grid-area: timer; */
}
button {
    background: rgb(164, 186, 183);
    color: rgb(11, 17, 29);
    font-weight: bold;
    border-style: none;
    /* border-radius: 5px; */
    width: 25%;
    height: 25px;
    margin: 10px;
    
}

button:disabled {
    background: rgb(164, 186, 183, .4);
}
input {
    border-style: none;
}

.eventsArea {
    margin: 5px;
    /* padding: 5px; */
    background: green;
    border-color: green;
    justify-self: start;
    grid-area: events;
}

#recipeCard {
    background: black;
}
.chart-container {
    display: grid;
    min-width: 100%;
    position: relative;
    grid-area: chart;
}
.container {
width: 100%;
/* min-height: 300px;
max-height: 100%; */
display: grid;
grid-template-columns: 100%;
grid-template-rows: 40px 40px 40px 40px 40px 40px;
grid-template-areas: 
    "header"
    "timer"
    "buttons"
    "coffee info"
    "events"
    "chart";
background-color: #2E3532;
}